@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 10px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #000;
}

p, a, div, li, dl, input, label, textarea, span {
  font-size: 2rem;
  color: inherit;
  font-family: inherit;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
}

form {
  max-width: 39.7511vw;
  margin: auto;
}

label {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 23px;
  margin-top: 36px;
  color: #000;
  font-weight: bold;
}

label.require:after {
  content: "（必須）";
  color: #cb311e;
}

input, textarea {
  -webkit-box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 2px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 43px;
  padding: 0 12px;
  line-height: 1.5em;
  font-size: 16px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  padding: 12px;
  height: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  position: relative;
  display: inline-block;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 600;
  width: 294px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  vertical-align: sub;
}

.btn:before {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border: solid 3px #000;
  top: 0px;
  left: 0px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover:before {
  top: -10px;
  left: -10px;
}

.btn:after {
  position: absolute;
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border: solid 3px #000;
  top: -10px;
  left: -10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

.btn-vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  width: 70px;
  height: 294px;
  line-height: 70px;
  font-weight: normal;
}

.btn-vertical:before, .btn-vertical:after {
  border-color: #fff;
}

.btn-submit {
  background-color: transparent;
  font-weight: normal;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  border: none;
  font-weight: bold;
}
