@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section h1 {
  position: relative;
  text-indent: 1.2em;
  text-align: center;
}

section h1:before {
  display: inline-block;
  position: absolute;
  background: url(../img/title-symbol.png) no-repeat center center;
  content: "";
  width: 43px;
  height: 43px;
}

.inner, .bottom {
  max-width: 1366px;
  margin: auto;
}

.vertical h1 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.vertical h1:before {
  margin-top: -1.5em;
}

.vertical .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vertical .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vertical .bottom {
  text-align: center;
}

.oriental h1:before {
  margin-left: -1.5em;
}

#origin {
  height: 660px;
  background: url(../img/bg-origin.png);
  color: #fff;
  padding: 40px 2.92826vw;
}

#origin .inner {
  font-family: ro-shino-std, "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  height: 580px;
  border: solid 1px #fff;
  padding: 4.09956vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#origin .content {
  line-height: 1.5em;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #origin .content {
    margin-right: 8.78477vw;
  }
}

#origin dl {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

#origin .deities {
  line-height: 1.71429em;
  font-size: 2.8rem;
}

#origin .deities span {
  font-size: 2.8rem;
}

#origin .deities [data-ruby] {
  position: relative;
}

#origin .deities [data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  top: 0;
  left: auto;
  right: -2.5em;
  bottom: 0;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
}

#origin .btn-vertical {
  margin-top: 170px;
  margin-right: 1.0981vw;
}

@media screen and (max-width: 1024px) {
  #origin .btn-vertical {
    display: none;
  }
}

#news {
  height: 880px;
  background: url(../img/bg-light-paper.png);
  padding: 100px 6.58858vw;
}

#news .content {
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: 6.8082vw;
}

#news article {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  height: 500px;
  background-color: #fff;
  padding: 30px 0.73206vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

#news article + article {
  margin-right: 3.07467vw;
}

#news article time {
  font-size: 2.4rem;
}

#news article h3 {
  line-height: 1.41em;
  margin: 0 0.8em;
}

#news article p {
  line-height: 1.5em;
  font-size: 2rem;
}

#news .pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 45rem;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#news .pagenation .navi-btn {
  font-size: 3.2rem;
  border-bottom: solid 2px;
  cursor: pointer;
}

#news .pagenation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#news .pagenation li {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
}

#news .pagenation li + li {
  margin-right: 2rem;
}

#news .pagenation li.active {
  background-color: #fe3425;
}

#news .bottom .pagenation {
  margin-top: 43px;
}

#news .bottom .btn {
  margin-top: 40px;
}

#event {
  height: 1080px;
  background: url(../img/event-01.png) no-repeat left top, url(../img/event-02.png) no-repeat right bottom, url(../img/bg-event.png) repeat top/contain;
}

#event h1 {
  margin-right: 6.58858vw;
}

#event .content {
  padding: 30px 7.32064vw;
  height: 410px;
  font-family: ro-shino-std, "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-align: left;
  line-height: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

#event .inner .content {
  margin-top: 68px;
  margin-right: 3.66032vw;
}

#event .bottom .content {
  margin-top: 120px;
  margin-left: 14.64129vw;
}

@media screen and (max-width: 1024px) {
  #event .bottom .content {
    margin-left: auto;
    margin-right: 7vw;
  }
}

#report {
  height: 1145px;
  padding: 113px 6.58858vw 82px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

#report .content {
  width: 100%;
  margin-right: 3.66032vw;
}

#report article {
  position: relative;
}

#report article .date {
  color: #fff;
  position: absolute;
  text-align: center;
  top: -10px;
  right: -1.3%;
  z-index: 3;
}

#report article .date:after, #report article .date:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 71px;
  height: 71px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

#report article .date:before {
  margin-top: -20px;
  background-color: #b79700;
}

#report article .date:after {
  background-color: #cb311e;
}

#report article .thumb {
  position: relative;
  max-width: 21.22987vw;
  right: -10%;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#report article .box {
  position: relative;
  padding: 45px 50px 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  max-width: 255px;
  top: -16px;
  z-index: 0;
  height: 555px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  #report article .box {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

#report article .box time {
  font-size: 2.4rem;
  margin-left: 0.73206vw;
  display: inline-block;
}

#report article .box h3 {
  margin-left: 2.19619vw;
}

#report article .box p {
  font-weight: bold;
}

#report .bottom {
  margin-top: 90px;
}

#access {
  height: 638px;
  background: url(../img/bg-map.png) no-repeat center/cover;
  color: #fff;
  padding: 42px 2.78184vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#access .inner {
  padding: 60px 4.39239vw;
  border: solid 1px #fff;
  height: 100%;
}

#access .content {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#access .content .access-info {
  width: 50%;
  padding: 0 6.44217vw 0 5.12445vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#access .content dl {
  line-height: 1.5em;
}

#access .content dl dd {
  text-indent: 1em;
}

#access .content .map-link {
  display: inline-block;
}

#access .content iframe {
  padding-left: 4.09956vw;
}

#sns {
  height: 260px;
}

#sns .inner {
  padding: 100px 0;
  max-width: 74.23133vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#sns .icon {
  vertical-align: middle;
  margin-left: 2.12299vw;
  vertical-align: sub;
}

#sns .btn {
  font-size: 2.4rem;
}

#sns .btn-facebook {
  color: #4267b2;
}

#sns .btn-instagram {
  color: #fe2f63;
  background: -webkit-linear-gradient(45deg, #ffce53, #fe6229, #fe2f63, #cf11b0, #8129d3, #043ee0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sns .btn-instagram .underline {
  display: block;
  width: 7em;
  height: 2px;
  position: absolute;
  color: #fe2f63;
  background: -webkit-linear-gradient(45deg, #ffce53, #fe6229, #fe2f63, #cf11b0, #8129d3, #043ee0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#opinion {
  height: 1220px;
  padding: 100px 0;
  background: url(../img/bg-opinion.png) no-repeat center/cover;
  text-align: center;
}

#opinion h1 {
  padding-bottom: 55px;
}

#opinion .btn-submit {
  margin-top: 111px;
}
