@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page header {
  height: 16rem;
}

.page main {
  background-color: #f5f5f5;
}

.page #breadcrumbs {
  height: 12.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  max-width: 1301.798px;
  margin: auto;
}

.page #breadcrumbs li a {
  border-bottom: solid 1px #333;
  margin-right: 1em;
}

.page #breadcrumbs li:first-child:before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.2rem;
  background: url(../img/icon-home.png);
  vertical-align: sub;
  margin-right: 1rem;
}

.page #breadcrumbs li + li:before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  margin-right: 1em;
  vertical-align: middle;
}

.page h1:before {
  display: none;
}

.page time {
  font-size: 3.2rem;
  padding-top: 5.8rem;
  display: block;
}

.page .lead {
  background: url(../img/bg-page.png) center center;
  padding: 18rem 0 11rem;
  text-align: center;
}

.page .content {
  background-color: #f5f5f5;
}

.page .content .inner {
  position: relative;
  top: -4rem;
  max-width: 109rem;
  padding: 4.5rem 14rem 10rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .page .content .inner {
    max-width: 94.66%;
  }
}

.page .content .thumb {
  width: 100%;
  height: auto;
  margin-bottom: 5.5rem;
}

.page .article h1, .page .article h2, .page .article h3, .page .article h4 {
  margin-top: 2.8rem;
  margin-bottom: 0.5rem;
  text-align: left;
  text-indent: 0;
}

.page .article p {
  font-size: 1.8rem;
  line-height: 1.66666em;
}

.page .article p + p {
  margin-top: 1.5em;
}
