@media screen and (max-width: 768px){
  $isMobile : true;
  $baseWidth: 750;
  $boxShadow:0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  $h1: 6rem;
  $h2:3.2rem;
  $h3:3.6rem;
  $h4:2rem;
  html{
    font-size: (10 / $baseWidth * 100vw );
  }
  p,a,div,li,dl,input,label,textarea,span{
    font-size: 3.2rem;
  }
  h1{
    font-size: $h1;
  }
  h2{
    font-size: $h2;
  }
  h3{
    font-size: $h3;
  }
  h4{
    font-size: $h4;
  }
  label{
    margin: 5.6rem 0 3.2rem;
    font-weight: normal;
  }
  form{
    max-width: 100%;
    width: 100%;
  }
  input,textarea{
    height: 6rem;
    font-size: 2.4rem;
    padding: 1.2rem;
  }
  textarea{
    height: 35rem;
  }

  .btn{
    width: 29.6rem;
    height:7.3rem;
    line-height: 7.3rem;
    &:before,
    &:after{
      border-width: 2px;
    }  
    &:after{
      top: -1rem;
      left: -1rem;
    }
  }
  header {
    background-image: url(../img/main-sp.png);
    height: 120rem;
    h1 .logo{
      width: 11.6rem;
      height: 64.6rem;
      top: 15rem;
    }
  }
  nav{
    height: 21.8rem;
    background-size: cover;
    li a span{
      padding-top: 2.8rem;
    }
  }
  section h1:before{
    background-image: url(../img/title-symbol-sp.png);
    width: 5rem;
    height: 5rem;
    background-size: contain;
  }
  .vertical{
    h1{
      text-align: left;
      &:before{
        margin-top: -1.2em;
        margin-right: 0.4rem;
      }
    }
  }
  .oriental{
    h1{
      &:before{
        margin-left: -1.2em;
      }
    }
  }

  #origin{
    height: 156rem;
    padding: 10rem 2.3rem;
    background-image: url(../img/bg-origin-sp.png);
    background-size: cover;
    .inner{
      border: none;
      padding: 0;
    }
    .content{
      flex-wrap: wrap;
      justify-content: flex-start;
      .deities{
        font-size: 4rem;
        line-height: 1.5em;
        span{
          font-size: 4rem;
        }
      }
      dl{
        height: 18em;
        word-spacing: 2em;
        margin-right: 2em;
      }
      dl:nth-child(1){
        margin-right: 1em;
        height: 67.2rem;
      }
      dl:nth-child(4){
        margin-right: -2.2rem;
      }
      dl:nth-child(n + 4){
        margin-top: 4.2rem;
      }
    }
  }
  #news{
    height: 118.8rem;
    padding: 10rem 2rem;
    article{
      height: 77rem;
      padding: 5rem 3.6rem;
      box-shadow:$boxShadow;
      time{
        font-size: 3.6rem;
      }
      h3{
        margin-right: 1rem;
        margin-left: 2rem;
      }
      p{
        font-size: 3.2rem;
      }
    }
    article + article{
      margin-right: 5rem;
    }
  }
  #event{
    padding: 10rem 2.3rem;
    height: 236rem;
    background: url(../img/event-01.png) no-repeat right 2rem  top 65.6rem,
                url(../img/event-02.png) no-repeat right bottom,
                url(../img/bg-event-sp.png) repeat top / contain;
    h1{
      margin-right: 0;
    }
    .content{
      line-height: 1.625em;
    }
    .inner .content{
      height: 61rem;
      margin-top: 0;
      padding: 2.8rem;
    }
    .bottom .content{
      width: 62.8rem;
      height: 72.2rem;
      margin-top: 43.4rem;
      padding: 2.8rem;
    }
  }
  #report{
    height: 420rem;
    padding: 26rem 2rem 0 8.2rem;
    .content{
      flex-direction: column;
    }
    article{
      & + article{
        margin-top: 12rem;
      }
      .date{
        right: -4.2%;
        &:after, &:before{
          width: 11.6rem;
          height: 11.6rem;
        }
        &:before{
          margin-top: -4.2rem;
        }
        &:after{
          margin-top: -4.7rem;
        }
      }
      .thumb{
        width: 46.5rem;
        height: 32.1rem;
        max-width: 100%;
        box-shadow: $boxShadow;
      }
      .box{
        display: block;
        width: 40.4rem;
        height: 88.3rem;
        max-width: 100%;
        padding: 7rem 3rem;
        top: -3rem;
        box-shadow: $boxShadow;
        box-sizing: border-box;
        time{
          font-size:3.6rem
        }
        h3{
          margin: 0 1.5rem 0 3.7rem;
        }
        p{
          line-height: 1.3125em;
          font-weight: normal;
        }
      }
      &:nth-child(2){
        .date{
          left: -1.3%;
          right: auto;
        }
        .box{
          right: -17rem;
        }
      }
    }
    .btn{
      display: none;
    }
  }
  #access{
    height: 140rem;
    padding: 4.2rem 0;
    h1{
      position: absolute;
      height: 50%;
    }
    .inner{
      padding: 5.8rem 1.5rem;
      border-left: none;
      border-right: none;
    }
    .content{
      flex-direction: column;
      .access-info{
        width: 47rem;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        dl{
          margin-right: 1em;
        }
      }
      iframe{
        padding: 0;
        width: 100%;
        height: 45rem;
      }
    }
  }
  #opinion{
    height: 142.8rem;
    padding: 10rem 6rem 0;
    h1{
      padding-bottom: 4rem;
    }
    .btn-submit{
      margin-top: 8rem;
    }
  }
  #sns{
    height: 54.4rem;
    .inner{
      padding: 12.4rem 7.6rem 10.3rem 8.7rem;
      flex-direction: column;
      max-width: 100%;
      .btn{
        width: 100%;
        max-width: 100%;
        font-size: 4.8rem;
        height: 12rem;
        line-height: 12rem;
        & + .btn{
          margin-top: 8.4rem;
        }
        &:after{
          top: -2rem;
          left: -2rem;
        }
        .icon{
          width: 6.7rem;
          height: 6.7rem;
          vertical-align: sub;
          img{
            width: 6.7rem;
            height: 6.7rem;
            }
        }
      }
    }
  }
  footer{
    height: 34.7rem;
    background-size: cover;
    .footer-title{
      padding-top: 3.5rem;
    }
    .footer-icon{
      margin-top: 3.4rem;
    }
    picture img{
      width: 5.3rem;
      height: 5.4rem;
    }
    small{
      margin-top: 7.6rem;
      font-size: 2.4rem;
    }
  }
  #gotop{
    width: 13.6rem;
    height:13.6rem;
    right: 3rem;
    bottom: 3rem;
    &:after{
      width: 5.9rem;
      height: 5.9rem;
      margin-top: 5.2rem;
      border-width: 0.5rem;
    }
  }
  .page{
    header{
      height: 21.8rem;
    }
    #breadcrumbs{
      font-size: 2.4rem;
      max-width: 96vw;
      height: 11.7rem;
      padding-top: 4.5rem;
      li:first-child:before{
        content: "";
        width: 3.4rem;
        height: 3rem;
        background-image: url(../img/icon-home-sp.png);
        background-size: contain;
        vertical-align: top;
      }
    }
    .lead{
      padding: 14rem 3.6rem 10rem;
      h1{
        font-size: 4rem;
      }
    }
    time{
      font-size: 2.8rem;
    }
    .content{
      .inner{
        padding: 4rem 2.2rem;
      }
    }
  }
}